<%- include('inc/head') -%>
        <div class="page-content--bge5" >
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="/">
                                <img src="images/icon/logo.png" alt="CoolAdmin">
                            </a>
                        </div>
                        <div class="login-form">
                            <form action="" method="post">
                                <h4 class="text-center">Spread os melhores eventos perto de ti</h4>
                                <div class="social-login-content">
                                    <div class="social-button">
                                        <a href="/users/login" class="text-center au-btn au-btn--block au-btn--blue m-b-20">Entrar como cliente</a>
                                        <a href="/producers/login" class="text-center au-btn au-btn--block au-btn--blue2">Entrar como organizador de eventos</a>
                                    </div>
                                </div>
                            </form>
                            <div class="register-link">
                                <p>
                                    &copy; Todos direitos reservados
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<%- include('inc/footer') -%>