<%- include('./../inc/shared/head') -%>
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="/producers/dashboard">
                            <!-- <img src="/images/icon/logo.png" alt="CoolAdmin" /> -->
                            <h1>SPREAD</h1>
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="active">
                            <a href="/producers/my-events">
                                <i class="fas fa-chevron-left"></i>Voltar
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="/producers/dashboard">
                    <!-- <img src="/images/icon/logo.png" alt="Cool Admin" /> -->
                    <h1>SPREAD</h1>
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active">
                            <a href="/producers/my-events">
                                <i class="fas fa-chevron-left"></i>Voltar
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <%- include('./../inc/producer/navbar') -%>

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row" style="background-color: #F5F5F5; padding: 10px; margin-bottom: 15px;">
                            <div class="col-lg-4" style="height: 300px; width: 100px;">
                                <img src="/images/festa-musica.jpeg" class="img-fluid" alt="..."
                                    style="height: 100%; width: 100%;">
                            </div>
                            <div class="col-lg-8" style="width: 100%; height: 100%;">
                                <div class="container">
                                    <div class="row margin-bottom-row">
                                        <div class="col-lg-12">
                                            <h2>FESTA DA MÚSICA</h2>
                                        </div>
                                    </div>
                                    <div class="row margin-bottom-row">
                                        <div class="col-lg-6">
                                            <p>
                                            <h5>Data e hora:</h5> 2018-09-27 02:12
                                            </p>
                                        </div>
                                        <div class="col-lg-6">
                                            <p>
                                            <h5>Bilhetes comprados:</h5> 320/400
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row margin-bottom-row">
                                        <div class="col-lg-6">
                                            <p>
                                            <h5>Tipo de evento:</h5> Festa
                                            </p>
                                        </div>
                                        <div class="col-lg-6">
                                            <p>
                                            <h5>Bilhetes preço:</h5> 15.000 Akz
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row margin-bottom-row">
                                        <div class="col-lg-6">
                                            <p>
                                            <h5>Província:</h5> Luanda
                                            </p>
                                        </div>
                                        <div class="col-lg-6">
                                            <p>
                                            <h5>Munícipio:</h5> Luanda
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row margin-bottom-row">
                                        <div class="col-lg-12">
                                            <p>
                                            <h5>Descriçao</h5>
                                            </p>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus odit
                                                ipsa vel nisi deleniti magnam asperiores ad iure, reiciendis laboriosam
                                                molestias, unde facere ullam voluptates natus maxime eum, perferendis
                                                neque.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <h5 class="title-1 m-b-25">Clientes</h5>
                                <div class="table-responsive table-responsive-data2 m-b-40">
                                    <table class="table table-data2">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>name</th>
                                                <th>Telefone</th>
                                                <th>Data da compra</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="tr-shadow">
                                                <td>
                                                    <div class="image img-40">
                                                        <img src="/images/icon/user.png" alt="John Doe" />
                                                    </div>
                                                </td>
                                                <td>Pedro Joaquim</td>
                                                <td>945678934</td>
                                                <td>2018-09-27 02:12</td>
                                            </tr>
                                            <tr class="spacer"></tr>
                                            <tr class="tr-shadow">
                                                <td>
                                                    <div class="image img-40">
                                                        <img src="/images/icon/user.png" alt="John Doe" />
                                                    </div>
                                                </td>
                                                <td>Paula Matilde</td>
                                                <td>925658434</td>
                                                <td>2018-09-27 02:12</td>
                                            </tr>
                                            <tr class="spacer"></tr>
                                            <tr class="tr-shadow">
                                                <td>
                                                    <div class="image img-40">
                                                        <img src="/images/icon/user.png" alt="John Doe" />
                                                    </div>
                                                </td>
                                                <td>Pedro Joaquim</td>
                                                <td>945678934</td>
                                                <td>2018-09-27 02:12</td>
                                            </tr>
                                            <tr class="spacer"></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT-->
        <!-- END PAGE CONTAINER-->
    </div>
<%- include('./../inc/shared/footer') -%>