<%- include('../inc/shared/head') -%>
    <%- include('../inc/producer/aside') -%>
        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <%- include('../inc/producer/navbar') -%>

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row m-t-25">
                            <div class="col-sm-6 col-lg-4">
                                <div class="overview-item overview-item--c1">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="far fa-calendar-alt"></i>
                                            </div>
                                            <div class="text margin-dash">
                                                <h2>2</h2>
                                                <span>Eventos criados</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="overview-item overview-item--c2">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="far fa-calendar-check"></i>
                                            </div>
                                            <div class="text margin-dash">
                                                <h2>1</h2>
                                                <span>Eventos Realizados</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="overview-item overview-item--c4">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="far fa-calendar-check"></i>
                                            </div>
                                            <div class="text margin-dash">
                                                <h2>0</h2>
                                                <span>Eventos pendentes</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h4 class="title-1 m-b-25">Eventos recentemente criados</h4>
                                <div class="table-responsive table-responsive-data2 m-b-40">
                                    <table class="table table-data2">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>nome</th>
                                                <th>data</th>
                                                <th>Tipo</th>
                                                <th>status</th>
                                                <th>Bilhetes comprados</th>
                                                <th>Bilhete Preço</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="tr-shadow">
                                                <td>
                                                    <div class="image img-40">
                                                        <img src="images/festa-musica.jpeg" alt="John Doe" />
                                                    </div>
                                                </td>
                                                <td><a href="event.html" >Festa da música</a></td>
                                                <td>2018-09-27 02:12</td>
                                                <td>Festa</td>
                                                <td>
                                                    <span class="status--process">Realizado</span>
                                                </td>
                                                <td>320/400</td>
                                                <td>15,000 Akz</td>
                                            </tr>
                                            <tr class="spacer"></tr>
                                            <tr class="tr-shadow">
                                                <td>
                                                    <div class="image img-40">
                                                        <img src="images/festa-das-cores.jpeg" alt="John Doe" />
                                                    </div>
                                                </td>
                                                <td>Festa das cores</td>
                                                <td>2018-09-25 19:03</td>
                                                <td>Festa</td>
                                                <td>
                                                    <span class="status--denied">Cancelado</span>
                                                </td>
                                                <td>0/200</td>
                                                <td>10,000 Akz</td>
                                            </tr>
                                            <tr class="spacer"></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>
<%- include('../inc/shared/footer') -%>