<%- include('../inc/shared/head') -%>
    <%- include('../inc/producer/aside') -%>
        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <%- include('../inc/producer/navbar') -%>

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- DATA TABLE -->
                                <h3 class="title-5 m-b-35">Meus eventos</h3>
                                <div class="table-data__tool">
                                    <div class="table-data__tool-left">
                                        <button class="au-btn-filter">
                                            <i class="zmdi zmdi-filter-list"></i>filters
                                        </button>
                                    </div>
                                    <div class="table-data__tool-right">
                                        <a href="#" class="au-btn au-btn-icon au-btn--green au-btn--small"
                                            data-toggle="modal" data-target="#mediumModal">
                                            <i class="zmdi zmdi-plus"></i>Novo Evento
                                        </a>
                                    </div>
                                </div>
                                <div class="table-responsive table-responsive-data2">
                                    <table class="table table-data2">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>name</th>
                                                <th>Data</th>
                                                <th>Tipo</th>
                                                <th>status</th>
                                                <th>Bilhetes comprados</th>
                                                <th>Bilhete Preço</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="tr-shadow">
                                                <td>
                                                    <div class="image img-40">
                                                        <img src="images/festa-musica.jpeg" alt="John Doe" />
                                                    </div>
                                                </td>
                                                <td><a href="event.html" >Festa da música</a></td>
                                                <td>2018-09-27 02:12</td>
                                                <td>Festa</td>
                                                <td>
                                                    <span class="status--process">Realizado</span>
                                                </td>
                                                <td>320/400</td>
                                                <td>15,000 Akz</td>
                                                <td>
                                                    <div class="table-data-feature">
                                                        <button class="item" data-toggle="tooltip" data-placement="top"
                                                            title="Edit">
                                                            <i class="zmdi zmdi-edit"></i>
                                                        </button>
                                                        <button class="item" data-toggle="tooltip" data-placement="top"
                                                            title="Delete">
                                                            <i class="zmdi zmdi-delete"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="spacer"></tr>
                                            <tr class="tr-shadow">
                                                <td>
                                                    <div class="image img-40">
                                                        <img src="images/festa-das-cores.jpeg" alt="John Doe" />
                                                    </div>
                                                </td>
                                                <td>Festa das cores</td>
                                                <td>2018-09-25 19:03</td>
                                                <td>Festa</td>
                                                <td>
                                                    <span class="status--denied">Cancelado</span>
                                                </td>
                                                <td>0/200</td>
                                                <td>10,000 Akz</td>
                                                <td>
                                                    <div class="table-data-feature">
                                                        <button class="item" data-toggle="tooltip" data-placement="top"
                                                            title="Edit">
                                                            <i class="zmdi zmdi-edit"></i>
                                                        </button>
                                                        <button class="item" data-toggle="tooltip" data-placement="top"
                                                            title="Delete">
                                                            <i class="zmdi zmdi-delete"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="spacer"></tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- END DATA TABLE -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

        <!-- modal create event -->
        <div class="modal fade" id="mediumModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="mediumModalLabel">Criar evento</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" novalidate="novalidate">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <img src="images/icon/avatar-big-01.jpg" class="rounded mx-auto d-block"
                                                    alt="" style="height: 100%; width: 100%;">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="container">
                                            <div class="row">
                                                <div class="form-group col-sm-4">
                                                    <label for="cc-payment" class="control-label mb-1">
                                                        Nome
                                                    </label>
                                                    <input name="name" type="text" class="form-control-sm form-control"
                                                        aria-required="true" aria-invalid="false">
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label for="cc-name" class="control-label mb-1">Tipo</label>
                                                    <select name="type" id="select"
                                                        class="form-control-sm form-control">
                                                        <option value="0">Please select</option>
                                                        <option value="1">Option #1</option>
                                                        <option value="2">Option #2</option>
                                                        <option value="3">Option #3</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label for="cc-payment" class="control-label mb-1">
                                                        Data
                                                    </label>
                                                    <input name="date" type="date" class="form-control-sm form-control"
                                                        aria-required="true" aria-invalid="false">
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label for="cc-payment" class="control-label mb-1">
                                                        H. de início
                                                    </label>
                                                    <input name="startTime" type="time"
                                                        class="form-control-sm form-control" aria-required="true"
                                                        aria-invalid="false">
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label for="cc-payment" class="control-label mb-1">
                                                        H. de termino
                                                    </label>
                                                    <input name="endTime" type="time"
                                                        class="form-control-sm form-control" aria-required="true"
                                                        aria-invalid="false">
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label for="cc-payment" class="control-label mb-1">
                                                        Preco
                                                    </label>
                                                    <input name="price" type="number"
                                                        class="form-control-sm form-control" aria-required="true"
                                                        aria-invalid="false">
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label for="cc-payment" class="control-label mb-1">
                                                        L. máxima
                                                    </label>
                                                    <input name="people" type="number"
                                                        class="form-control-sm form-control" aria-required="true"
                                                        aria-invalid="false">
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label for="cc-payment" class="control-label mb-1">
                                                        Provincia
                                                    </label>
                                                    <select name="province" class="form-control-sm form-control">
                                                        <option value="0">Please select</option>
                                                        <option value="1">Option #1</option>
                                                        <option value="2">Option #2</option>
                                                        <option value="3">Option #3</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label for="cc-payment" class="control-label mb-1">
                                                        Municipio
                                                    </label>
                                                    <input name="county" type="text"
                                                        class="form-control-sm form-control" aria-required="true"
                                                        aria-invalid="false">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div>
                                            <button id="payment-button" type="submit"
                                                class="btn btn-lg btn-info btn-block">
                                                <i class="fa fa-lock fa-lg"></i>&nbsp;
                                                <span id="payment-button-amount">Criar evento</span>
                                                <span id="payment-button-sending" style="display:none;">Sending…</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary">Confirm</button>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- end modal create event -->
    </div>
<%- include('../inc/shared/footer') -%>